# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 构建目录
/build

# Visual Studio Code 配置
.vscode/

# Clion 配置
.idea/

# CLion 构建目录
cmake-build-debug/
cmake-build-release/
